/* variables */
:root {
    --main-color: #2E7EFF;
    --second-color: #121C2B;
}
/* end variables */

/* start global */
* {
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: "Almarai", sans-serif;
    box-sizing: border-box;
}

.body {
    max-width: 100%;
}

.container {
    width: 600px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/* end global */
/* start nav */
nav {
    background-color: var(--second-color);
    height: 90px;
    width: 100%;
    display: block;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

nav .container .logo img{
    width: 80px;
}

nav ul {
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff
}
/* end nav */
/* start landing */
.landing {
    background-image: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0.2)), url("../images/logo-blue.png");
    background-size: cover;
    background-position: center;
    height: calc(100vh - 90px);
    width: 100%
}

.landing .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: #121C2B;
    padding: 30px;
    border-radius: 10px;
}

@media (min-width: 380px){
    .landing .text {
        width: 370px
    }
}

@media (min-width: 800px){
    .landing .text {
        width: 600px
    }
}

@media (min-width: 1200px){
    .landing .text {
        width: 800px
    }
}

.landing h1 {
    margin: 0;
    font-size: 50px;
    color: white;
}

.landing p {
    margin-top:10px;
    margin-bottom: 20px;
    font-size: 22px;
    color: white;
}

.landing a {
    text-decoration: none;
    color: white;
    background-color: #2E7EFF;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    width: 100px;
    align-self: center;
}

/* end landing */